.title {
  font-size: 30px;
}

.form-title {
  margin: 10px;
}

.form {
  display: flex;
  align-items: flex-end;
  border: 1px solid #000;
  max-width: 400px;
  min-height: 100px;
  padding: 5px;
  box-sizing: border-box;
}

.form__input {
  border: none;
  resize: none;
  outline: none;
  flex: 1;
  min-height: 100px;
}

.update-button {
  color: green;
  margin-left: 20px;
}

.update-button,
.form__button,
.note__delete-button {
  outline: none;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #000;
  width: 40px;
  height: 40px;
  font-size: 25px;
  line-height: 40px;
  cursor: pointer;
  padding: 0;
}

.update-button:hover,
.form__button:hover,
.note__delete-button:hover {
  background: #eee;
}

.notes {
  padding: 30px;
}

.notes:after {
  content: "";
  clear: both;
  display: table;
}

.note {
  position: relative;
  border: 1px solid #000;
  float: left;
  margin: 20px;
  padding: 20px;
  max-width: 400px;
  word-wrap: break-word;
}

.note__delete-button {
  position: absolute;
  top: -20px;
  right: -20px;
  color: red;
  font-size: 35px;
}
